<html xmlns:th="http://www.thymeleaft.org" 
      xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <header th:fragment="header">
            <h1>Control de Peliculas</h1>
        </header>
        <footer th:fragment="footer">
            <p>Derechos reservados <a href="https://www.alkemy.org/" target="_blank">Proyecto Alkemy</a></p>
        </footer>
        
    </body>
</html>
